.container{
    border: 2px solid red;
    display: flex;
    height: 90vh;
    /* justify-content: center; */
    align-items: center;
    /* flex-direction: column; */
    /* flex-wrap: wrap; */
    align-content: center;
    /* flex-flow: row wrap; */
    /* gap: 10px; */
}
.item{
    flex-grow: 1;
    width: 30px;
    height: 30px;
    border: 2px solid black;
    background-color: lightgreen;
    margin: 4px;
    padding: 5px;
}
.item1{
    /* flex-grow:10; */
    /* align-self: flex-end; */
}
.order1{
    order:1;
    /* align-self: flex-start; */
}
.order2{
    order: 2;
}
.order3{
    order: 3;
}