.container{
    background-color: rgb(230, 137, 137);
    width: 50vw;
    height: 40vh;
}
.box{
    background-color: rgb(6, 253, 170);
    width: 20%;
    height: 20%;
    /* transition-property: all;
    transition-duration: 4s;
    transition-timing-function: cubic-bezier(0, 0.17, 0.84, 1.04);
    transition-delay: 1s; */
    transition: all 4s cubic-bezier(0, 0.17, 0.84, 1.04) 1s;
}
.translate{
    transform: translateX(10vw) translateY(10vh) scale(1.5);
    background-color: blueviolet;
}