.container{
    position: relative;
    width: 80vw;
    height: 80vh;
    border: 2px solid black;
    background-color: rgb(63, 222, 63);
}
.boll{
    width: 100px;
    height: 100px;
    border: 2px solid black;
    position: absolute;
    left: 0;
    bottom: 0;
    background-color: red;
    border-radius: 50%;
    animation: game 20s cubic-bezier(.25,.46,.45,.94) infinite ;
}

@keyframes game{
     0%   { transform: translate(0px, 0px); }
     10%  { transform: translate(100px, -500px); }
     20%  { transform: translate(200px, 0px); }
     30%  { transform: translate(300px, -500px); }
     40%  { transform: translate(400px, 0px); }
     50%  { transform: translate(500px, -500px); }
     60%  { transform: translate(600px, 0px); }
     70%  { transform: translate(700px, -500px); }
     80%  { transform: translate(800px, 0px); }
     90%  { transform: translate(900px, -500px); }
     100% { transform: translate(1000px, 0px); }
}
