@import url('https://fonts.googleapis.com/css2?family=Marter+Sans,wght@0,400..700;1,400..700&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

*{
    background-color: green;
    color: white;
    font-family: 'Martel Sans',sans-serif;
    font-size: 30px;
}