body{
    background-color: rgb(167, 13, 13);
}
@media only screen and (max-width: 600px){
    body{
        background-color: rgb(167, 13, 87);
    }
    .boxes{
        flex-direction: column;
        /* align-items: center; */
    }
}
.boxes{
    display: flex;
}
.box{
    width: 200px;
    height: 200px;
    background-color: rgb(13, 67, 167);
    margin: 5px;
    padding: 5px;

}