.boll{
    height: 121px;
    width: 121px;
    background-color: red;
    border-radius: 70px;
    position: absolute;
    bottom: 0;
    left: 0;
    animation: animateX 3s linear infinite, animateY 1s ease-out infinite alternate;
}
.box{
    position: relative;
    height: 80vh;
    width: 80vw;
    background-color: blue;
}
@keyframes animateX{
    form{
        left: 0;
    }
    to{
        left: 100%;
    }
}
@keyframes animateY{
    form{
        bottom: 0;
    }
    to{
        bottom: 100%;
    }
}