.main{
    /* height: 30px;
    width: 100vw;
    border: 2px solid rgb(235, 13, 13);
    display: inline;
    background-color: aqua; */

}
.item {
    height: 60px;
    width: 100vw;
    border: 2px solid rgb(235, 13, 13);
    display: inline;
    
}