.box{
    border: 2px solid rgb(12, 12, 12);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
}
.item{
    border: 2px solid red;
    padding: 30px;
    margin: 20px;
    border-radius: 10px;

}
@media screen and (max-width : 450px) {
    .box{
        grid-template-columns: 1fr;
    }

    .item{
        width:300px;
    }
}