.container{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.box{
    width: 60px;
    height: 45px;
    border: 2px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
}