.container{
    border: 2px solid yellow;
    display: grid;
    grid-template-columns: [x]120px [y]100px [z];/*assine the name */
    grid-template-rows: 100px 100px 100px;
}
.item{
    border: 2px solid red;
    width: 55px;
    height: 55px;
}
.item1{
    /* grid-row: 1/2; */
    grid-row-start: 1;
    grid-row-end: 2;/* as a same thing both two line grid-row: 1/2 */

    /* grid-column: 1/2; */
    /* grid-column: x/z; */
}
.item4{
    grid-row: 1/2;
    grid-column: 1/2;
}