*{
    margin: 0;
    padding: 0;
}
:root{
    --main-color: rgb(201, 107, 233);
    --text-color: white;
    --secondary-color: rgb(18, 163, 141);
}
body{
    background-color: var(--secondary-color);
}
ul li{
    list-style: none;
    display: inline-block;
    padding: 23px;
}
nav{
    background-color: var(--main-color);
    padding: 12px;
}
nav ul li a{
    text-decoration: none;
    color: var(--text-color);
    font-size: 20px;
}