.logo img{
    width: 150px;
}
nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.right ul{
    display: flex;
    gap: 40px;
}
.right ul li{
    list-style: none;
    display: flex;
    align-items: center;
    cursor: pointer;
}