body {
    background-color: black;
    color: #00ff00;
    font-family: monospace;
    padding: 20px;
}

.terminal {
    font-size: 18px;
}

.blink::after {
    content: "";
    animation: dots 1s steps(4, end) infinite;
}

@keyframes dots {
    0% {
        content: "";
    }

    25% {
        content: ".";
    }

    50% {
        content: "..";
    }

    75% {
        content: "...";
    }

    100% {
        content: "";
    }
}