.logo img{
    width: 150px;
}
nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.right ul{
    display: flex;
    gap: 40px;
}
.right ul li{
    list-style: none;
    display: flex;
    align-items: center;
    cursor: pointer;
}
.first{
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   gap: 23px;
   margin: 50px;
   font-family: sans-serif;
}
.first span{
    font-size: 40px;
}
section span img{
    width: 83px;
    margin: 0 23px;
}
.first p{
    font-size: 28px;
    width: 44vw;
    text-align: center;
}
.btn{
    background: #00b6d1;
    padding: 14px 16px;
    color: white;
    border: none;
    border-radius: 6px;
    font-weight: 700;
    margin: 12px 0;
    cursor: pointer;
}
.btn a{
    text-decoration: none;
    color: white;
}
.green{
    background-color: green;
}
.flex{
    display: flex;
}
.small{
    font-size: 12px;
}
.second{
    max-width: 50vw;
    margin: auto;
}
.item{
    padding: 23px;
    background: #f9f9f9;
    border-radius: 12px;
    font-size: 25px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
}
.item-lang{
    font-weight: 600;
    text-align: center;
    padding-bottom: 36px;
}
.grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 15px;
}
.download :nth-child(2){
    font-size: 23px;
}
.download img{
    padding: 0px 12px;
}
.download{
    display: flex;
    font-family: sans-serif;
    gap: 10px;
    align-items: center;   
}

@media screen and (max-width: 1150px) {
    .grid{
        grid-template-columns: 1fr;
    }
}